@import "modules/modules.less";

@dark-background: #232323;

html {
    background-color: @dark-background;
}
body {
    background-color: @body-background;
    color: @text-color;
    font-family: @font-family-sans-serif;
    font-size: @font-size-base;
    line-height: 1.4;
}

h1:first-of-type, h2:first-of-type, h3:first-of-type {
    margin-top: 0;
}
h3 {
    & + p {
        margin-top: -10px;
    }
}
h4.post-meta {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-top: -15px;
}

hr {
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 20px 0;
}

pre {
    border: 1px solid #ddd;
    background: #eee;
    padding: 10px;
}

a {
    color: @link-color;
}
a:hover {
    color: @link-color-hover;
}

.site-wrapper {
    overflow-x: hidden;
}

.outer-wrapper {  }

.inner-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.row { .make-row(); }

.col-12 { .make-column(12); }
.col-8 { .make-column(8); }
.col-6 { .make-column(6); }
.col-5 { .make-column(5); }
.col-4 { .make-column(4); }
.col-3 { .make-column(3); }

.outer-wrapper-header {
    background: @dark-background;

    .title {
        margin: 0;
        line-height: 58px;

        a {
            color: @black-10;
            text-decoration: none;
        }
    }
}

.inner-wrapper-flash {
    padding: 0;
    max-width: 1920px;
}

.inner-wrapper-main {
    padding: 20px;

    .main {
        .make-column(12);

        &.has-sidebar-left, &.has-sidebar-right {
            .make-column(8);
        }
        &.has-sidebar-left.has-sidebar-right {
            .make-column(6);
        }
    }

    .sidebar {
        .make-column(4);

        &.has-sidebar-left.has-sidebar-right {
            .make-column(3);
        }
    }
}
.blog-wrapper {
    display: flex;
    flex-wrap: wrap;

    .blog-post {
        flex: 0 0 98%;
        box-sizing: border-box;
        margin: 20px 1%;

    }
}
.center {
    text-align: center;
}
.outer-wrapper-footer {
    background-color: @dark-background;
    color: @black-20;
    text-align: center;
}

blockquote {
    font-style: italic;
    font-size: 15px;
    border-left: 4px solid #eee;
    padding-left: 10px;

    span::before {
        content: "\201C";
    }
    span::after {
        content: "\201D";
    }
}

.outer-wrapper-byline {
    .inner-wrapper {
        border-top: 1px solid #eee;
        .figure {
            margin-top: 1em;
            img {
                border-radius: 50%;
            }
        }
    }
}

.figure {

    &:last-child {
        margin-bottom: 20px;
    }

    &.left {
        float: left;
        margin-right: 10px;
    }
    &.right {
        float: right;
        margin-left: 10px;
    }

    img {
        vertical-align: middle;
        max-width: 100%;
    }
}

.btn {
    display: inline-block;
    border: 2px solid @link-color;
    color: @link-color;
    background: transparent;
    text-decoration: none;
    list-style: none;
    padding: 8px 12px;
    margin-bottom: 5px;
}
.btn:hover, .btn:focus {
    color: @link-color-hover;
    border-color: @link-color-hover;
    outline: none;
}

.hide {
    display: none;
}

.nav-wrapper {
    display: flex;

    .navbar {
        flex: 1;
    }

    .user-button {
        align-self: center;
        cursor: pointer;
        color: #fff;
        position: relative;
        padding: 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        i {
            font-size: 36px;
            vertical-align: middle;
        }

        .user-alternatives {
            position: absolute;
            background: #222;
            top: 57px;
            right: -20px;
            white-space: nowrap;
            width: auto;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    text-align: center;
                    a {
                        display: block;
                        padding: 20px;
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            color: @link-color;
                        }
                    }
                }
            }
        }
    }
}

.error, .success {
    padding: 10px;
    color: #fff;
}
.error {
    background-color: #F44336;
}
.success {
    background-color: #4CAF50;
}

.sort-wrapper {
    display: inline-block;

    .sort-icon {
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -7px;

        .material-icons {
            font-size: 30px;
        }
    }
}

.read-more {
    display: block;
    .material-icons {
        vertical-align: middle;
    }
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;

    li {
        display: block;
        border: 1px solid #eee;
        margin-left: -1px;

        &:first-of-type {
            margin-left: 0;
        }

        &.active {
            background: #eee;
            pointer-events: none;
        }

        a {
            display: block;
            padding: 5px 10px;
        }
    }
}

@media (min-width: 700px) {
    .blog-wrapper {
        .blog-post {
            flex: 0 0 48%;
        }
    }
}

@media (min-width: 900px) {
    .blog-wrapper {
        .blog-post {
            flex: 0 0 31.3333%;
        }
    }
}
